
@{
    ViewData["Title"] = "Assignment2";
}

<h1>Assignment 2 - Events</h1>
<section id="user-description" class="card shadow-lg">
    <div class="card-header ">
        <h2 class="w-100 text-center p-3">Event Practice</h2>
    </div>
    <div class="card-body d-flex flex-column">
        <div class="w-100 d-flex justify-content-center">
            <button class="btn btn-danger w-25" v-on:click.prevent="showAlert()">Show Alert</button>
        </div>
        <hr />
        <div class="d-flex justify-content-center w-100">
            <div class="d-flex flex-column w-50">
                <div class="w-100 d-flex justify-content-center">
                    <!-- Key Down output (event.target.value)-->
                    <input type="text" class="w-50 my-1" v-on:keyup="onKeyDown" />
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <p class="font-lg badge badge-success w-50 my-1">Output: {{ keyDownText }}</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-center w-100">
            <div class="d-flex flex-column w-50">
                <div class="w-100 d-flex justify-content-center">
                    <!-- Show the output text when the enter key is pressed -->
                    <input type="text" class="w-50 my-1" v-on:keydown.enter="submitTextKeyUp" v-model="enterText" />
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <p class="font-lg badge badge-success w-50 my-1">Output: {{ submitText }}</p>
                </div>
            </div>
        </div>
    </div>

</section>


<script>
    const app = Vue.createApp({
        data() {
            return {
                keyDownText: '',
                enterText: '',
                submitText: ''
            };
        },
        methods: {
            showAlert() {
                alert("Submit button pressed!");
            },
            onKeyDown(event) {
                this.keyDownText = event.target.value;
            },
            submitTextKeyUp(event) {
                this.submitText = this.enterText;

            }
        }

    });

    app.mount('#user-description');
</script>